:root {
  --azul_claro: #527dfa;
  --azul_escuro: #527DFA;
  --laranja: #fa886b;
  --verde_claro: #a6fa39;
  --verde_escuro: #77ad31;
}
*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'open_sans-regular', sans-serif;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

html{
  min-height:1500px;
  overflow-x: hidden;
}
@font-face {
  font-family: "open_sans-regular";
  src: url("OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "open_sans-italic";
  src: url("OpenSans-Italic-VariableFont_wdth\,wght.ttf");
}
.inicio {
  background-image: url(FundoInicioMobile.png);
  background-position: center top;
  background-size: cover;
  width: 100%;
  min-height: 600px;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.045);
}
.icons{
  height: 90px;
  width: 90px;
  transition: top, left .3s;
}
.imgLike{
  background-image: url(Like.png);
  position: absolute;
  left: 75%;
  top: 250px;
  background-size: cover;
}

.imgAlert{
  background-image: url(alert.png);
  position: relative;
  left: -3%;
  top: 300px;
  background-size: cover;
}

.imgFoguete{
  background-image: url(Foguete.png);
  position: relative;
  left: 70%;
  top: 250px;
  background-size: cover;
}

.imgGps{
  background-image: url(gps.png);
  position: relative;
  left: 2vw;
  top: 200px;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 380px) {
  .icons{
    width: 70px;
    height: 70px;
  }
}

@media screen and (min-width:1200px) {
  .inicio {
    background-image: url(FundoInicio.png);
    min-height: 500px;
  }
}

@media screen and (min-width:570px) {
  .imgLike{
    left: 85%;
    top: 250px;
  }
  
  .imgAlert{
    left: 5%;
    top: 250px;
  }
  
  .imgFoguete{
    left: 80%;
    top: 210px;
  }
  
  .imgGps{
    left: 5vw;
    top: 150px;
  }
}

.busca{
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.formBusca{
  display: flex;
  vertical-align: middle;
}
#iproduto{
  border: 1px solid rgba(83, 83, 83, 0.274);
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  padding: 10px 5px 10px 5px;
  font-size: 14px;
  width: 70vw;
  max-width: 700px;
  caret-color:  rgba(83, 83, 83, 0.274);
}
.btnSearch{
  border: none;
  background-color: var(--azul_escuro);
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  color: white;
  font-size: 16px;
  padding: 0px 5px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .btnSearch:hover{
      opacity: .9;
      cursor: pointer;
      transition: .5s;
  }
}


.produtos{
  text-align: center;
  width: 90%;
  max-width: 1300px;
  margin: auto;
  padding: 20px 0px 80px 0px ;
}

.produtos > h2{
  color: var(--azul_escuro);
  font-weight: 800;
  font-size: 40px;
  border-bottom: 2px solid #527cfa7d;
  width: 80%;
  padding-bottom: 1.5rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.btn{
  background-color: var(--azul_escuro);
  color: white;
  font-weight: 700;
  font-size: 17px;
  display: inline;
  padding: 10px 20px;
  border-radius: .5rem;
  transition: .3s;
}


@media (hover: hover) and (pointer: fine) {
  .btn:hover{
      opacity: .9;
      cursor: pointer;
      transition: .5s;
  }
}

.btnAll{
  margin-top: 5rem;
}